.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-background.show {
  display: flex;
}

.modal-container {
  background-color: #1a89d3;
  padding: 32px 47px 217px 47px;
  width: 80%;
  max-width: 1600px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.modal-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: 8px 8px 0 0;
  position: relative;
}

.modal-title {
  flex-grow: 1;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #FFFFFF;
  margin: 0;
  text-align: center;
}

.modal-exit-button {
  background-color: #D4190C;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  white-space: nowrap;
  position: absolute;
  top: 16px;
  right: 16px;
}

.modal-body {
  margin: 40px 0;
  text-align: center;
}

.player-inputs {
  display: flex;
  justify-content: center;
  gap: 66px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.input-field {
  width: 400px;
  padding: 11px 15px;
  border: 1px solid #F1F5F9;
  background-color: #F1F5F9;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-grow: 1;
}

.start-game-button {
  background-color: #0AB169;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 28px;
  border: none;
  border-radius: 8px;
  padding: 11.5px 40px;
  width: 220px;
  cursor: pointer;
}